﻿@{Layout = "master.cshtml"; }


<p>To reset your password, click <a href="@Model.callbackUrl">here</a>.</p>  

<p>If you are unable to use link above, click this link, or copy and paste the text shown below into the Address Bar of your web browser:</p>
<a href="@Model.callbackUrl">@Model.callbackUrl</a>
<p>Note that this link is valid for 72 hours. If you do not reset your password in that time, click on 'Forgot Password' in the login screen, to generate a fresh link.</p>

