﻿@{Layout = "master.cshtml"; }

@* This email is sent to the addresseee after that account has bveen created
  Security permissions have already been estabished, including the permission hash, any roles, and filters.
  *@


<P>You have been invited to participate in FedEMIS, the Education Management Information system for Federated States of Micronesia.</p>
<p>To complete your registration, click <a href="@Model.callbackUrl">here</a>.</p>  

<p>If you are unable to use link above, copy and paste the text shown below into the Address Bar of your web browser:</p>
<a href="@Model.callbackUrl">@Model.callbackUrl</a>