﻿@* Render a Pie Chart
*@

<dashboard-child class="dashboard-wrapper"
                 ng-class="vm.dimensions"
                 report-path="vm.reportPath"
                 toggle-selected="vm.toggleSelected"
                 is-selected="vm.isSelected()"
                 another-component-selected="vm.anotherComponentSelected()"
                 component-id="vm.componentId">

  <heading-title>{{vm.headingTitle}}</heading-title>
  <heading-filters>{{vm.headingFilters}}</heading-filters>
  <heading-options>
    <md-select ng-if="vm.headingOptions" ng-model="vm.selectedViewOption">
      <md-option ng-value="opt" ng-repeat="opt in vm.viewOptions()">{{ opt }}</md-option>
    </md-select>
  </heading-options>
  <child-body>

    <pie-chart-base ng-if="!vm.headingOptions"
                    dim="vm.dim"
                    selected-key="vm.selectedKey"
                    on-click="vm.onClick"
                    reduce-iterator="vm.valueAccessor" />

    <div ng-repeat="opt in vm.viewOptions()">
      <pie-chart-base ng-if="vm.viewOptionSelected(opt)"
                      dim="vm.dim"
                      selected-key="vm.selectedKey"
                      on-click="vm.onClick"
                      reduce-iterator="vm.va(opt)" />
    </div>



  </child-body>
</dashboard-child>

