﻿<div class="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>{{mapc.theFilter.entity|capitalize:first}}s</li>
    <li>Map</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">

    <div flex="75">
      <panel panel-class="panel-primary map"
             panel-icon="fa fa-map-marker"
             heading="Map Data Analysis"
             panel-collapse="true">

        @* ng-map upgrade now deprecates name 'map' use ng-map'
          expects controller as mapctrlr
        *@
        <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyBB0ek5RclWay0_-jZR9doF04wl5rI_L04">
          <ng-map zoom="6" center="[0,0]" style="display:block; height:600px" fit-content>
            <!-- <marker ng-repeat="row in mapc.pointData" position="{{row.sLat}},{{row.sLng}}" title="{{row.sFullName}}"></marker> -->
          </ng-map>
        </div>
        <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="mapc.isWaiting" />
      </panel>

    </div>

    <div flex="25">
      <panel panel-class="panel-primary list query-data-side-panel"
             panel-icon="fa fa-filter"
             heading="Query Data"
             panel-collapse="true">

        @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
          <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
          <manipulate-map-component searchfields="listvm.theFilter"></manipulate-map-component>*@

        @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
          <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
        <div id="searcher" ui-view="searcher"></div>
        <div id="manipulatemap" ui-view="manipulatemap"></div>
      </panel>
    </div>

  </div>

</div>