﻿<div id="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>{{vm.folder}}</li>
    <li>Reports</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <div flex="100">
      <panel panel-class="panel-primary"
             heading="{{vm.folder}} Reports"
             panel-icon="fa fa-file-text"
             panel-collapse="true">


      <report-list folder="{{vm.folder}}" prompt-for-params="{{vm.promptForParams}}" set-params="vm.setParams(report, context, instanceInfo)"></report-list>
      </panel>
    </div>
  </div>

</div>
