﻿@section title {
Enrolment by {{"District"|vocab}}
}

@section filters {
{{vm.dashboard.options.selectedAuthorityGovt|lookup:'authorityGovt'}} {{vm.dashboard.options.selectedYear}} 
}

<div style="margin:4px" 
     ng-class="{'height4': vm.isSelected(),
                  'height2': !vm.isSelected()}">
  <dc-bar dimension="vm.dashboard.dimDistrictCode" 
             group="vm.grpDistrictCode" 
             layers="vm.layers"
             aspect-ratio="2"
             filters="vm.selectedKey"
             on-chart-click="vm.onClick(key)"
             after-chart-init="vm.afterChartInit(chart)" 
          ></dc-bar>

</div>

