﻿@* Enrol dashboard *@
@section options {
  <core-options-editor options="vm.options"></core-options-editor>
}

@section children {

@*<enrolment-district-chart class="dashboard-wrapper height2 width3"
                          dashboard-ready="vm.dashboardReady"
                          selected-child="vm.selectedChild"
                          option-change="vm.optionChange">
</enrolment-district-chart>*@

  <cross-tab heading-title="Age by Level"
      heading-filters="vm.filterString('Age', 'Level')"
      dimensions="height6 width8"
      report-path="Schools/Current_Number_of_Schools_by_Authority"
      toggle-selected="vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      first-dim-name="Age"
      grid-data="vm.tabAge_EdLevel()"
      col-labels-lookup="educationLevels"

      row-labels="vm.labelerAgeGroup"
      @*has-row-totals="false"*@
      @*has-column-totals="false"*@
      detail-grid-data="vm.tabAge_Level()"
      detail-col-labels-lookup="levels"
      heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
      indicator-calculators="vm.indicatorCalculations"       
  />


  <cross-tab heading-title="School Type by District"
      heading-filters="vm.filterString('SchoolType', 'District')"
      dimensions="height6 width8"
      toggle-selected="vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      first-dim-name="School Type"
      grid-data="vm.tabSchoolTypeByDistrict()"
      col-labels-lookup="districts"
      heading-options="{Total: ['Total', 'Male', 'Female'], None: ['Total'], Perc: ['Total', 'Female %', 'Male %'], GPI: ['All', 'Female', 'Male', 'GPI']}"
      indicator-calculators="vm.indicatorCalculations"       
  />

  <simple-table heading-title="Authority"
      dimensions="height4 width3"
      heading-filters="vm.filterString('Authority')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      group="vm.grpAuthorityCode()"
      selected-key="vm.options.selectedAuthority"
      on-click="vm.toggle('selectedAuthority')"
      row-labels-lookup="authorities" />

  <simple-table heading-title="Govt/Non Govt"
      dimensions="height4 width3"
      heading-filters="vm.filterString('AuthorityGovt')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      group="vm.grpAuthorityGovt()"
      selected-key="vm.options.selectedAuthorityGovt"
      on-click="vm.toggle('selectedAuthorityGovt')"
      row-labels-lookup="" />

  <simple-table heading-title="{{'District'|vocab}} Enrolment"
      dimensions="height4 width3"
      heading-filters="vm.filterString('District')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      group="vm.grpDistrictCode()"
      selected-key="vm.options.selectedDistrict"
      on-click="vm.toggle('selectedDistrict')"
      row-labels-lookup="" />

  <bar-chart heading-title="{{'District'|vocab}} Enrolment" dimensions="height2 width3"
      heading-filters="vm.filterString('District')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      dim="vm.dimDistrictCode"
      selected-key="vm.options.selectedDistrict"
      on-click="vm.toggle('selectedDistrict')"
      value-accessor="vm.va"
  />

  <pie-chart heading-title="Authority" dimensions="height2 width3"
      heading-filters="vm.filterString('Authority')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      dim="vm.dimAuthorityCode"
      selected-key="vm.options.selectedAuthority"
      on-click="vm.toggle('selectedAuthority')"
      value-accessor="vm.va"/>

  <pie-chart heading-title="{{'Authority Govt'|vocab}}" dimensions="height2 width3"
      heading-filters="vm.filterString('AuthorityGovt')"
      toggle-selected="::vm.boundToggleSelected"
      selected-child="vm.selectedChild"
      dim="vm.dimAuthorityGovt"
      selected-key="vm.options.selectedAuthorityGovt"
      on-click="vm.toggle('selectedAuthorityGovt')"
      value-accessor="vm.va"/>
        
}
