﻿@* Enrol dashboard *@
@section options {
  <core-options-editor options="vm.options"></core-options-editor>
}

@section children {

  <simple-table heading-title="Authority"
                dimensions="height4 width3"
                heading-filters="TODO Filters"
                toggle-selected="::vm.boundToggleSelected"
                selected-child="vm.selectedChild"
                group="vm.grpAuthorityCode()"
                selected-key="vm.options.selectedAuthority"
                on-click="vm.onClickAuthorityCodePieChart"
                row-labels-lookup="authorities" />

  <simple-table heading-title="Govt/Non Govt"
                dimensions="height4 width3"
                heading-filters="TODO Filters"
                toggle-selected="::vm.boundToggleSelected"
                selected-child="vm.selectedChild"
                group="vm.grpAuthorityGovt()"
                selected-key="vm.options.selectedAuthorityGovt"
                on-click="vm.onClickAuthorityGovtPieChart"
                row-labels-lookup="" />

  <simple-table heading-title="{{'District'|vocab}} Enrolment"
                dimensions="height4 width3"
                heading-filters="TODO Filters"
                toggle-selected="::vm.boundToggleSelected"
                selected-child="vm.selectedChild"
                group="vm.grpDistrictCode()"
                selected-key="vm.options.selectedDistrict"
                on-click="vm.onClickDistrictCode"
                row-labels-lookup="" />

  <bar-chart heading-title="{{'District'|vocab}} Enrolment" dimensions="height2 width3"
             heading-filters="TODO Filters"
             toggle-selected="::vm.boundToggleSelected"
             selected-child="vm.selectedChild"
             dim="vm.dimDistrictCode"
             selected-key="vm.options.selectedDistrict"
             on-click="vm.onClickDistrictCode" />

  <pie-chart heading-title="Authority" dimensions="height2 width3"
             heading-filters="TODO Filters"
             toggle-selected="::vm.boundToggleSelected"
             selected-child="vm.selectedChild"
             dim="vm.dimAuthorityCode"
             selected-key="vm.options.selectedAuthority"
             on-click="vm.onClickAuthorityCodePieChart" />

  <pie-chart heading-title="{{'Authority Govt'|vocab}}" dimensions="height2 width3"
             heading-filters="TODO Filters"
             toggle-selected="::vm.boundToggleSelected"
             selected-child="vm.selectedChild"
             dim="vm.dimAuthorityGovt"
             selected-key="vm.options.selectedAuthorityGovt"
             on-click="vm.onClickAuthorityGovtPieChart" />

  <cross-tab heading-title="Age by Level"
             heading-filters="TODO Filters"
             dimensions="height5 width6"
             report-path="Schools/Current_Number_of_Schools_by_Authority"
             toggle-selected="vm.boundToggleSelected"
             selected-child="vm.selectedChild"
             first-dim-name="Age"
             grid-data="vm.tabAge_EdLevel()"
             col-labels-lookup="educationLevels"
             row-labels="vm.labelerAgeGroup"
             @*has-row-totals="false"*@
             @*has-column-totals="false"*@
             detail-grid-data="vm.tabAge_Level()"
             detail-col-labels-lookup="levels" />

  <cross-tab heading-title="School Type by District"
             heading-filters="TODO Filters"
             dimensions="height5 width6"
             toggle-selected="vm.boundToggleSelected"
             selected-child="vm.selectedChild"
             first-dim-name="School Type"
             grid-data="vm.tabSchoolTypeByDistrict()"
             col-labels-lookup="districts" />







}
