﻿@* teacher survey List
*@
<div>
  <table class="schoolsurveys table table-condensed table-striped table-hover">

    <thead>
      <tr>
       
     
        <th class="colhdr gray-left-border" colspan="6" style="text-align:center">Survey</th>
        
        <th class="colhdr white-bg"></th>
        <th class="colhdr gray-left-border" colspan="3" style="text-align:center">Appt</th>
        <th class="colhdr white-bg no-left-border"></th>
      </tr>
      <tr>
        <th class="colghdr">Survey Year</th>
        <th class="colghdr gray-left-border">{{"School No" | vocab }}</th>
        <th class="colghdr gray-left-border">Name</th>
        <th class="colghdr gray-left-border">Role</th>
        <th class="colghdr gray-left-border">Duties (T/A/M)</th>
        <th class="colghdr gray-left-border">Class Taught</th>
       
      </tr>
    </thead>

    <tbody>
      <tr ng-class="{'editing': vm.editSurveyYear == survey.svyYear}" data-ng-repeat="survey in vm.surveys | orderBy: svyYear : false">
        <td>{{survey.svyYear}}</td>
        <td>{{survey.schNo}}</td>
        <td>{{survey.schName}}</td>
        <td>{{survey.roleName}}</td>
        <td>{{survey.tchTAM}}</td>
        <td>{{survey.tchClass | lookup:"levels"}}<span ng-show="survey.tchClassMax"> - </span>{{survey.tchClassMax | lookup:"levels"}}</td>

        <td>{{survey.apptSchNo}}</td>
        <td>{{survey.apptSchName}}</td>

       
      </tr>
    </tbody>

  </table>

 

</div>