﻿@section title {
  REPETITION RATE BY GRADE (RR)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Repetition Rate by Grade (RR)</p>
      <h2>Definition</h2>
      <p>
        Proportion of pupils from a cohort enrolled in a given grade at a given school year who study in the same
        grade in the following school year.
      </p>
      <h2>Purpose</h2>
      <p>
        To measure the rate at which pupils from a cohort repeat a grade, and its effect on the internal efficiency of
        educational systems. In addition, it is one of the key indicators for analysing and projecting pupil flows from grade to
        grade within the educational cycle.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of repeaters in a given grade in school year t+1 by the number of pupils
        from the same cohort enrolled in the same grade in the previous school year t.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Enrolment by grade for school year t and number of repeaters from the same cohort by grade for year
        t+1.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on enrolment
        and repeaters by grade. In Marshall Island a bi-annually school census
        is used with some urban schools starting to adopt a Student
        Information System. The indicators are currently all calculated based
        on a consistent data collection tool (i.e. the school census).
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By grade, gender, geographical location (regions, urban/rural)
        and by type of institution (public/private). The disaggregation
        supported are by grade, gender, type of schools and by geographical
        location (i.e. Atolls and Islands of Marshall Islands) and levels of
        education.  However, currently only the gender, nation and levels of
        education cohorts are exposed since population projection by Atolls
        and Islands is not yet available and the disgreggation by school type
        and individual grades feature is not yet exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        Like other pupil-flow rates (promotion and dropout rates), repetition rate is derived by analysing
        data on enrolment and repeaters by grade for two consecutive years. One should therefore ensure that such data are
        consistent in terms of coverage over time and across grades. Special attention should also be paid to minimizing some
        common errors which may bias these flow rates, such as: Over-reporting enrolment/repeaters (particularly in grade
        one); incorrect distinction between new entrants and repeaters; transfers of pupils between grades and schools.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        Repetition Rate ideally should approach zero percent. High repetition rate reveals problems in the
        internal efficiency of the educational system and possibly reflect a poor level of instruction. When compared across
        grades, the patterns can indicate specific grades for which there is higher repetition, hence requiring more in depth
        study of causes and possible remedies.
      </p>
      <h2>Limitations</h2>
      <p>
        In some cases, low repetition rates merely reflect policies or practices of automatic promotion. The
        level and maximum number of grade repetitions allowed can in some cases be determined by the educational
        authorities with the aim of coping with limited grade capacity and increasing the internal efficiency and flow of
        pupils (or students). Care should be taken in interpreting this indicator, especially in comparisons between education
        systems.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
