﻿@section title {
  GROSS INTAKE RATIO IN THE LAST GRADE OF PRIMARY (GIRLG)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>GROSS INTAKE RATIO IN THE LAST GRADE OF PRIMARY (GIRLG)</p>
      <h2>Definition</h2>
      <p>
        Total number of new entrants in the last grade of primary education, regardless of age, expressed as a
        percentage of the population at the theoretical entrance age to the last grade of primary.
      </p>
      <h2>Purpose</h2>
      <p>
        This proxy measure of primary completion also reflects the impact of policies shaping the early grades of
        primary school can impact the final grade of this education level. It also indicates the capacity of the education
        system to provide primary completion for the theoretical entrance age population to the last grade of primary.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of new entrants in last grade of primary, irrespective of age, by the
        population of theoretical entrance age to the last grade of primary, and multiply the result by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        New entrants in the last grade of primary education (or enrolment minus repeaters in the last grade);
        population of the theoretical entrance age in the last grade of primary.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on new
        entrants. Population census or estimates for population of the
        theoretical entrance age in the last grade of primary. In Marshall
        Island a bi-annually school census is used with some urban schools
        starting to adopt a Student Information System. The indicators are
        currently all calculated based on a consistent data collection tool
        (i.e. the school census).  The population projection used was from
        Economic Policy, Planning and Statistics Office (EPPSO) census with
        the 10 year projection done by the Secretariat of the Pacific
        Community (SPC).
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender and geographical location (region, rural/urban). The
        disaggregation supported are by grade, gender, type of schools and by
        geographical location (i.e. Atolls and Islands of Marshall Islands)
        and levels of education.  However, currently only the gender, nation
        and levels of education cohorts are exposed since population
        projection by Atolls and Islands is not yet available and the
        disgreggation by school type and individual grades feature is not yet
        exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        Data on population used in deriving this indicator should refer strictly to the theoretical entrance
        age in the last grade of primary. Care should be taken not to include repeaters in the last grade, which would inflate
        the ratio.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A high ratio indicates a high degree of current primary education completion.
      </p>
      <h2>Limitations</h2>
      <p>
        The calculation includes all new entrants to last grade (regardless of age). Therefore, the ratio can
        exceed 100%, due to over-aged and under-aged children who enter primary school late/early and/or repeat grades.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
