﻿@model Softwords.Web.Models.TitledView

<div class="verticalcenter">
  <md-card>
    <md-card-header layout="column">
      <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Logo" />
    </md-card-header>
    <md-card-content>
      <div layout="column">
        <div>Welcome to @Model.Title! To complete your registration, select your password.</div>
        <div>
          <password-validator model="vm.passwordValidator"></password-validator>
        </div>
        <form novalidate name="vm.form" ng-submit="vm.resetPassword()" role="form" layout="column">
          <div layout="row">
            <md-input-container flex>
              <input type="password" ng-attr-type="{{vm.revealPassword?'text':'password'}}" 
                     id="newpassword" name="newpassword"
                     ng-model="vm.newPassword"
                     required ng-minlength="vm.passwordValidator.RequiredLength" ng-pattern="vm.passwordValidator.RegEx"
                     placeholder="Password">
              <div ng-messages="vm.form.newpassword.$error">
                <p ng-message="minlength">password must be {{vm.passwordValidator.RequiredLength}} characters</p>
                <p ng-message="pattern" class="validation-message">
                  <i class='fa fa-exclamation'>&nbsp;</i>
                  Password does not meet password rules
                </p>
              </div>
            </md-input-container>
            <md-button class="md-icon-button"
                       ng-mouseenter="vm.revealPassword=(vm.revealPassword?0:1)" ng-mouseleave="vm.revealPassword=0"
                       tabindex="-1">
              <md-icon>
                remove_red_eye
              </md-icon>
            </md-button>
          </div>
          <md-input-container flex>
            <input type="password" ng-attr-type="{{vm.revealPassword?'text':'password'}}" id="confirmnewpassword" name="confirmnewpassword"
                   ng-model="vm.confirmPassword"
                   required validate-equal="vm.newPassword"
                   placeholder="Confirm New Password">
            <div ng-messages="vm.form.confirmnewpassword.$error">
              <p ng-message="compare" class="validation-message">
                <i class="fa fa-exclamation"></i>
                Confirm must match Password
              </p>
            </div>
          </md-input-container>

          <div>
            <i class="icon-spinner icon-spin icon-large"></i>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid || vm.loginInProcess">
              {{vm.buttonState}} <i class="fa fa-spinner spinning" ng-show="vm.loginInProcess" aria-hidden="true"></i>
            </md-button>
          </div>
        </form>
      </div>
    </md-card-content>
</div>
