﻿<div class="verticalcenter" style="max-width: 500px;margin-top:30px; margin-right:auto; margin-left:auto;">
  <md-card aria-label="Forgot password page">
    <md-card-header layout="column">
      <img src="asset/logo" style="width:250px; margin-left:auto;margin-right:auto" aria-label="Australian Commonwealth Coat of Arms" />
      <p>
        Enter the email address you use to sign in to Australia Awards. Instructions on how to reset your password will be sent to this email.
      </p>
    </md-card-header>

    <form class="form-horizontal" ng-submit="vm.doForgotPassword()">
      <md-card-content>
        <section layout="column" aria-label="email address">
          <md-input-container>
            <input type="email" id="email" name="email" placeholder="Your email" ng-model="vm.email"
                   aria-label="your email address"
                   required>
            <div ng-messages="form.email.$error">
              <ng-message when="pattern">Not a valid email address</ng-message>
              <ng-message when="email">Not a valid email address</ng-message>
            </div>
          </md-input-container>
        </section>
        <div layout="row">
          <md-button type="submit" class="md-primary md-raised" 
                     ng-disabled="form.$invalid || vm.inProcess||vm.processState == 'Request sent'"
                     flex>
            {{vm.processState}}
            <i class="fa fa-spinner spinning" ng-show="vm.inProcess" aria-hidden="true"></i>
          </md-button>
          <md-button ng-click="vm.gotoSignin()">Return to login page</md-button>
        </div>
        @*<div class="form-actions">
          <i class="icon-spinner icon-spin icon-large"></i>
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid || vm.inProcess">
            {{vm.processState}} <i class="fa fa-spinner spinning" ng-show="vm.inProcess" aria-hidden="true"></i>
          </button>
        </div>*@
</form>
</div>
  </div>
</div>