﻿<div class="verticalcenter">
  <md-card>
    <md-card-header layout="column">
      <img src="asset/logo" style="width:150px; margin-left:auto;margin-right:auto" aria-label="Australian Commonwealth Coat of Arms" />
    </md-card-header>
    <md-card-content>
      <div layout="column">
        <div>Reset your password</div>
        <div>
          <password-validator model="vm.passwordValidator"></password-validator>
        </div>
        <form novalidate name="vm.form" ng-submit="vm.resetPassword()" role="form" layout="column">
          <md-input-container>
            <input type="password" id="newpassword" name="newpassword"
                   ng-model="vm.newPassword"
                   required ng-minlength="vm.passwordValidator.RequiredLength" ng-pattern="vm.passwordValidator.RegEx"
                   placeholder="Password">
            <div ng-messages="vm.form.newpassword.$error">
              <p ng-message="minlength">password must be {{vm.passwordValidator.RequiredLength}} characters</p>
              <p ng-message="pattern" class="validation-message">
                <i class='fa fa-exclamation'>&nbsp;</i>
                Password does not meet password rules
              </p>
            </div>
          </md-input-container>
          <md-input-container>
            <input type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword"
                   ng-model="vm.confirmPassword"
                   required validate-equal="vm.newPassword"
                   placeholder="Confirm New Password">
            <div ng-messages="vm.form.confirmnewpassword.$error">
              <p ng-message="compare" class="validation-message">
                <i class="fa fa-exclamation"></i>
                Confirm must match Password
              </p>
            </div>
          </md-input-container>
          <div>
            <i class="icon-spinner icon-spin icon-large"></i>
            <md-button type="submit" class="md-primary md-raised" 
                       ng-disabled="vm.form.$invalid || vm.loginInProcess">
              {{vm.buttonState}} <i class="fa fa-spinner spinning" ng-show="vm.loginInProcess" aria-hidden="true"></i>
            </md-button>
          </div>
        </form>
      </div>
    </md-card-content>
</div>
@*
  <div class="verticalcenter">
    <style>
      .validation-message {
        font-size: smaller;
      }
    </style>
    <div class="panel panel-primary">
      <div class="panel-body">
        <img src="asset/logo" width="150" />
        <div>
          <password-validator model="vm.passwordValidator"></password-validator>
        </div>
        <form novalidate class="form-horizontal" name="vm.form" ng-submit="vm.resetPassword()" role="form">
          <div class="form-group">
            <label for="newpassword" class="control-label col-sm-4" style="text-align: left;">New Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="newpassword" name="newpassword"
                     ng-model="vm.newPassword"
                     required ng-minlength="vm.passwordValidator.RequiredLength" ng-pattern="vm.passwordValidator.RegEx"
                     placeholder="Password">
              <div ng-messages="vm.form.newpassword.$error">
                <p ng-message="minlength">password must be {{vm.passwordValidator.RequiredLength}} characters</p>
                <p ng-message="pattern" class="validation-message">
                  <i class='fa fa-exclamation'>&nbsp;</i>
                  password does not meet password rules
                </p>

              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="confirmnewpassword" class="control-label col-sm-4" style="text-align: left;">Confirm New Password</label>
            <div class="col-sm-8">

              <input type="password" class="form-control" id="confirmnewpassword" name="confirmnewpassword"
                     ng-model="vm.confirmPassword"
                     required validate-equal="vm.newPassword"
                     placeholder="Confirm New Password">
              <div ng-messages="vm.form.confirmnewpassword.$error">
                <p ng-message="compare" class="validation-message">
                  <i class="fa fa-exclamation"></i>
                  Confirm must match Password
                </p>

              </div>
            </div>
          </div>

          <div class="form-actions">
            <i class="icon-spinner icon-spin icon-large"></i>
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.form.$invalid || vm.loginInProcess">
              {{vm.buttonState}} <i class="fa fa-spinner spinning" ng-show="vm.loginInProcess" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="col-md-6">
          <div class="text-danger">{{messageText}}</div>
        </div>
      </div>
    </div>
  </div>
*@