﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>No Permission</h3>
}

@section tools {
}

<p>You do not have permission to perform this operation!</p>
<p>Permission required:</p>
<ul>
  <li>{{vm.Topic}} - {{vm.errorInfo.Required}}</li>
</ul>
<p>Your permissions:</p>
<ul>
  <li>{{vm.Topic}} - {{vm.errorInfo.Current}}</li>
</ul>

@section actions {
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">Try again</md-button>
  <md-button class="md-raised " type="button" ng-click="vm.cancel()">Cancel</md-button>
}