﻿<div>
  <h4>Warehouse Admin Page</h4>

  <div>
    This command will update the Data Warehouse tables from the current data.
    You should run this operation when data entry is complete, the data is clean and verified, and you are ready to produce annual reports and update the Indicators pages.
  </div>
  <div layout="column">
    <label>Rebuild from year...</label>

    <div layout="column" layout-gt-sm="row">
      <md-container flex-gt-sm="25">

        <md-select ng-model="vm.startAtYear">
          <md-option ng-value="null">Rebuild all years</md-option>
          <md-option ng-value="year.C" ng-repeat="year in vm.lookups.cache['surveyYears']">{{ year.N }}</md-option>
        </md-select>
      </md-container>
      <md-button flex-gt-sm="25" class="md-raised md-primary" ng-click="vm.refresh()">Update warehouse</md-button>
    </div>
  </div>
  <div ng-show="vm.isWaiting &&!vm.warehouseRefreshed">Please wait while the warehouse is refreshed - this may take a few minutes...</div>

  <div ng-show="vm.warehouseRefreshed">
    <h4> The warehouse is refreshed. </h4>
    <p>These summary tables show enrolment and teacher numbers as presented in the major reporting sets of the warehouse. </p>
    <md-card>
      <table class="table">
        <thead>
          <tr>
            <td ng-repeat="c in vm.enrolTableCols">{{c}}</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in vm.enrolTable">
            <td ng-repeat="c in vm.enrolTableCols">{{r[c]}}</td>
          </tr>
        </tbody>
      </table>
    </md-card>
    <md-card>
      <md-card-header>
        Teacher numbers
      </md-card-header>
      <table class="table">
        <thead>
          <tr>
            <td ng-repeat="c in vm.teacherTableCols">{{c}}</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in vm.teacherTable">
            <td ng-repeat="c in vm.teacherTableCols">{{r[c]}}</td>
          </tr>
        </tbody>
      </table>
    </md-card>
  </div>
  <div ng-show="vm.isWaiting && vm.warehouseRefreshed && !vm.vermdataRefreshed">
    Rebuilding the Indicator Summary File ...
  </div>
  <div ng-show="vm.vermdataRefreshed">
    <h4>The National Indicator Summary File has been rebuilt.</h4>
    <h4>Building {{'District' | vocab}} Indicator Summary Files</h4>
    <p ng-repeat="n in vm.districtUpdates">{{n}}</p>
  </div>
  <div ng-show="vm.calculatorRefreshed">
    These totals are derived from the national indicator summary:
    <table class="table">
      <tr>
        <td>Create Date</td>
        <td>{{vm.nationCalculator.getCreateDate()}}</td>
        
      </tr>
      <tr>
        <td>Nation</td>
        <td>{{vm.nationCalculator.getNation()}}</td>
      </tr>
      <tr>
        <td>Source Database</td>
        <td>{{vm.nationCalculator.getSourceDB()}}</td>
      </tr>
      <tr>
        <td>Years with data</td>
        <td>{{vm.nationCalculator.getYearsWithData().join(", ")}}</td>
      </tr>

    </table>
    <md-card ng-repeat="tbl in vm.ERTables">
      <md-card-header>
        {{tbl.edLevel.N}}
      </md-card-header>
      <table class="table">
        <thead></thead>
        <tr>
          <td>Population</td>
          <td>{{tbl.Population.T}}</td>
        </tr>
        <tr>
          <td>Enrolment</td>
          <td>{{tbl.Enrolment.T}}</td>
        </tr>
        <tr>
          <td>Official Age Enrolment ({{tbl.AgeRange}})</td>
          <td>{{tbl.NetEnrolment.T}}</td>
        </tr>
        <tr>
          <td>GER</td>
          <td>{{tbl.GER.T}}</td>
        </tr>
        <tr>
          <td>NER</td>
          <td>{{tbl.NER.T}}</td>
        </tr>
      </table>
    </md-card>

  </div>
</div>