﻿
  <panel panel-class="panel-primary" heading="{{vm.model.title}} {{vm.model.edLevel}}, {{vm.model.year}}" panel-close="true">
  <div class="col-sm-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th>Offical Age</th>
          <th>M</th>
          <th>F</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pop in vm.model.pop">
          <td>{{pop.yoe}}</td>
          <td>{{pop.age}}</td>
          <td>{{pop.M}}</td>
          <td>{{pop.F}}</td>
          <td>{{pop.T}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{vm.model.atag.Population.M}}</td>
          <td>{{vm.model.atag.Population.F}}</td>
          <td>{{vm.model.atag.Population.T}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="col-sm-6">
    <div gender-pyramid height="200" width="200"
         dataset="vm.model.pop"
         key="age">
    </div>
  </div>
</panel>