﻿@section title {
  Population Estimate
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
<md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
  Cited Source: UNESCO Education Indicators Technical Guidelines
</md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Type of Data</h2>
      <p>Population (Estimate)</p>
      <h2>Definition</h2>
      <p>
        The population data taken from a census with projections typically done for 10-15 years
      </p>      
    </md-content>
  </md-tab>  
</md-tabs>