﻿@section title {
  DROPOUT RATE BY GRADE (DR)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Dropout Rate by Grade (DR)</p>
      <h2>Definition</h2>
      <p>
        Proportion of pupils from a cohort enrolled in a given grade at a given school year who are no longer
        enrolled in the following school year.
      </p>
      <h2>Purpose</h2>
      <p>
        To measure the phenomenon of pupils from a cohort leaving school without completion, and its effect on
        the internal efficiency of educational systems. In addition, it is one of the key indicators for analysing and projecting
        pupil flows from grade to grade within the educational cycle.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Dropout rate by grade is calculated by subtracting the sum of promotion rate and repetition rate
        from 100 in the given school year. For cumulative dropout rate in primary education, it is calculated by subtracting
        the survival rate from 100 at a given grade (see survival rate).
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Enrolment by grade for school year t and enrolment and number of repeaters by grade for year t+1.
        year t+1.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on enrolment
        and repeaters by grade. A bi-annually
        school census is used by all schools and in some cases some urban schools starting to
        adopt a Student Information System also. The indicators are
        currently all calculated based on a consistent data collection
        tool (i.e. the school census)
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By grade, gender, geographical location (regions, urban/rural)
        and type of institution (public/private). The disaggregation supported
        are by gender, type of schools and by geographical location
        (i.e. Atolls and Islands of Marshall Islands).  However, currently
        only the nation cohort is supported since population projection by
        Atolls and Islands is not yet available and the disgreggation by
        school type feature is not yet exposed..
      </p>
      <h2>Quality standards</h2>
      <p>
        Like other pupil-flow rates (promotion and repetition rates), the dropout rate is derived by
        analysing data on enrolment and repeaters by grade for two consecutive years. One should therefore ensure that such
        data are consistent in terms of coverage over time and across grades. Special attention should also be paid to
        minimizing some common errors which may bias these flow-rates, such as: Over-reporting enrolment/repeaters
        (particularly in grade one); incorrect distinction between new entrants and repeaters; transfers of pupils between
        grades and schools.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        Ideally, the rate should approach 0%; a high dropout rate reveals problems in the internal efficiency
        of the educational system. By comparing rates across grades, it is possible to identify those which require greater
        policy emphasis.
      </p>
      <h2>Limitations</h2>
      <p>
        The level and maximum number of grade repetitions allowed can in some cases be determined by the
        educational authorities with the aim of coping with limited grade capacity and increasing the internal efficiency and
        flow of pupils (or students). Care should be taken in interpreting this indicator, especially when comparing education
        systems.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
