﻿@section title {
  Female % or GENDER PARITY INDEX (GPI)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Female % or Gender Parity Index (GPI) of any given other indicator or context value. 
      Whether the Female % is shown or the GPI is shown depends on the context. For example, for a given
      indicator the GPI is given. But for other plain values such as total population the Female % is shown instead.</p>
      <h2>Definition</h2>
      <p>
        Ratio of female to male values of a given indicator.
      </p>
      <h2>Purpose</h2>
      <p>
        The GPI measures progress towards gender parity in education participation and/or learning opportunities
        available for women in relation to those available to men. It also reflects the level of women’s empowerment in
        society.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the female value of a given indicator by that of the male.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Female and male values of the given indicator.
      </p>
      <h2>Data Source</h2>
      <p>
        See source of the given indicator.
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By level of education, type of institution (private/public) and geographical location (region,
        urban/rural).
      </p>
      <h2>Quality standards</h2>
      <p>
        See quality standards for the underlying indicators.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A GPI equal to 1 indicates parity between females and males. In general, a value less than 1
        indicates disparity in favour of boys/men and a value greater than 1 indicates disparity in favour of girls/women.
        However, the interpretation should be the other way round for indicators that should ideally approach 0% (e.g.
        repetition, dropout, illiteracy rates, etc). In these cases, a GPI of less than 1 indicates a disparity in favour of
        girls/women and a value greater than 1 indicates a disparity in favour of boys/men.
      </p>
      <h2>Limitations</h2>
      <p>
        The index does not show whether improvement or regression is due to the performance of one of the
        gender groups. Interpretation requires trend analysis of the underlying indicators.
      </p>
    </md-content>
  </md-tab>
</md-tabs>