﻿<div layout="column">
  <h4>UIS Exporter</h4>
  <p>This will run the UIS Exporter tool, generating data in the UIS 2017 Questionaire Format.</p>
                                                        
  <md-input-container style="max-width: 200px">
    <md-select ng-model="someModel" placeholder="Select Year">
      <md-option ng-value="year" ng-repeat="year in [2018, 2017, 2016]">{{ year }}</md-option>
    </md-select>
  </md-input-container>

  <button style="max-width: 200px" class="btn btn-primary" ng-click="vm.refresh()">Export Data</button>

  <div ng-show="vm.isWaiting">Please wait while the UIS Export file is being prepared - this may take a few minutes...</div>
</div>